{
  "presets": ["env", "stage-2", "fbjs"],
  "plugins": [
    "transform-es2015-destructuring",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@app": "./src/index.js",
        "@testing": "./src/testing",
        "@tools": "./src/tools"
      }
    }]
  ]
}
